@using quizweb.ViewModels
@model List<CategoryListViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <div><a asp-action="Play" asp-controller="Quiz">Play Now</a></div>
        <div><a href="#">1v1</a></div>
    </div>
<div class="container my-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @{
            foreach (var cate in Model)
            {

                <div class="col">
                    <div class="card text-center shadow rounded-4 border-0">
                        <div class="position-absolute top-0 start-50 translate-middle">
                            <img src="@cate.Url" class="img-fluid w-75" style="object-fit:cover;" alt="Alternate Text" />
                        </div>
                        <div class="card-body mt-5">
                            <h6 class="fw-bold">@cate.Name</h6>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
</div>