@using quizweb.ViewModels
@model List<CategoryListViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @{
            foreach (var cate in Model)
            {

                <div class="col">
                    <div class="card text-center shadow rounded-4 border-0">
                        <div class="position-absolute top-0 start-50 translate-middle">
                            <img src="@cate.Url" class="img-fluid w-100" style="object-fit:cover;" alt="Alternate Text" />
                        </div>
                        <div class="card-body mt-5">
                            <h6 class="fw-bold">@cate.Name</h6>
                        </div>
                    </div>
                </div>
            }

        }
        @* <div class="col"> *@
        @*     <img src="~/assets/AI.png" class="img-fluid   w-100" style="object-fit:cover;" alt="Alternate Text" /> AI *@
        @* </div> *@
        @* <div class="col"> *@
        @*     <img src="~/assets/cuisine.png" class="img-fluid   w-100" style="object-fit:cover;" alt="Alternate Text" /> Cuisine *@
        @* </div> *@
        @* <div class="col"> *@
        @*     <img src="~/assets/film.png" class="img-fluid   w-100" style="object-fit:cover;" alt="Alternate Text" /> Film *@
        @* </div> *@
        @* <div class="col"> *@
        @*     <img src="~/assets/geography.png" class="img-fluid   w-100" style="object-fit:cover;" alt="Alternate Text" /> Geography *@
        @* </div> *@
        @* <div class="col"> *@
        @*     <img src="~/assets/grammar.png" class="img-fluid   w-100" style="object-fit:cover;" alt="Alternate Text" /> Grammar *@
        @* </div> *@
        @* <div class="col"> *@
        @*     <img src="~/assets/history.png" class="img-fluid   w-100" style="object-fit:cover;" alt="Alternate Text" /> History *@
        @* </div> *@
        @* <div class="col"> *@
        @*     <img src="~/assets/literature.png" class="img-fluid   w-100" style="object-fit:cover;" alt="Alternate Text" /> Literature *@
        @* </div> *@
        @* <div class="col"> *@
        @*     <img src="~/assets/math.png" class="img-fluid   w-100" style="object-fit:cover;" alt="Alternate Text" /> Math *@
        @* </div> *@
        @* <div class="col"> *@
        @*     <img src="~/assets/music.png" class="img-fluid   w-100" style="object-fit:cover;" alt="Alternate Text" /> Music *@
        @* </div> *@
        @* <div class="col"> *@
        @*     <img src="~/assets/quiz.png" class="img-fluid   w-100" style="object-fit:cover;" alt="Alternate Text" /> Quiz *@
        @* </div> *@
        @* <div class="col"> *@
        @*     <img src="~/assets/science.png" class="img-fluid   w-100" style="object-fit:cover;" alt="Alternate Text" /> Science *@
        @* </div> *@
    </div>
</div>
