@model List<quizweb.ViewModels.RankingListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Ranking</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TotalScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.TotalScore)
            </td>
        </tr>
}
    </tbody>
</table>
